@charset "UTF-8";

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
}
html {
    font-size:16px;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
  padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
}

header h1 {
	margin: 0;
	padding: 38px 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 46px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0 10px;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
}

.main-image {
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {

}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.section-one h3 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h3,
.section-three h3 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;

}

.address {
	font-size: 1em;

}

/*The widths are in a percentage!*/
footer {
border-top: 3px solid #eee;
margin: 0 auto;
text-align: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/*---------- Device ----------*/
@media (max-width: 600px) {
	body {
		font-family: 'Montserrat', Helvetica, Arial, sans-serif;
		display: flex;
	  justify-content: center;
	  align-items: center;
		flex-flow: row wrap;
	}
	.container{
		max-width: 1200px;
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		}
		/*The widths are in a percentage!*/
		header {
			border-bottom: 3px solid #77a466;
			margin: 0 auto;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: row wrap;
		}
		.top-section,
		.bottom-section {
			margin: 0 auto;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: row wrap;
		}
		/*The widths are in a percentage!*/
		footer {
		border-top: 3px solid #eee;
		margin: 0 auto;
		width: 100%;
		flex-flow: row wrap;
		display: flex;
		justify-content: center;
		align-items: center;

		}
		footer span {
			font-family: 'Galada', cursive;
			text-transform: lowercase;
			color: #77a466;
			font-size: 0.875em;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			flex-flow: row wrap;
		}
		header nav ul li a{
			text-decoration: none;
			color:#77a466;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			flex-flow: row wrap;
		}
		.section-one h3,
		.section-two h3,
		.section-three h3 {
			padding: 10px 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			flex-flow: row wrap;
			text-align: center;
		}
			}
/*---------- TABLET ----------*/
			@media (min-width: 768px) {

				body {
					font-family: 'Montserrat', Helvetica, Arial, sans-serif;
					font-size: 1em;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: row wrap;
					text-align: center;

				}
				html {
				    font-size:16px;
				}

				.container{
					max-width: 1200px;
					margin: 0 auto;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: row wrap;
					text-align: center;
				}

				h1,
				h2,
				h3 {
					color: black;
					text-transform: uppercase;
					font-weight: 700;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: row wrap;
					text-align: center;
					width: 33%;
				}
				h1 {
					font-size: 1.875em;
				}
				h2 {
					font-size: 1.125em;;
				}
				h3 {
					font-size: 0.75em;
				}

				p {
					font-size: 0.875em;
				  padding: 0 30px;
				}

				/*The widths are in a percentage!*/
				header {
					border-bottom: 3px solid #77a466;
					margin: 0 auto;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: row wrap;
					text-align: center;
				}

				header h1 {
					margin: 0;
					padding: 38px 0;
				}
				header h1 span {
					color: #77a466;
				}

				header nav {
					padding: 46px 0;
				}
				header nav ul {
					margin: 0;
					padding: 0;
				}
				header nav ul li {
					text-transform: uppercase;
					font-weight: 700;
					font-size: 0.875em;
					padding: 0 10px;
					display: inline;
				}
				header nav ul li a{
					text-decoration: none;
					color:#77a466;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: row wrap;
					text-align: center;
					width: 1200px;
				}

				/*The widths are in a percentage!*/
				.top-section,
				.bottom-section {
					margin: 0 auto;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: row wrap;
					text-align: center;
				}

				.main-image {
				}
				.main-image img {
					width: 100%;
					border-bottom: 3px solid #77a466;
				}

				.main-title {

				}
				.main-title h2 {
					padding: 5px 0;
					color: #77a466;

				}
				.main-title p {
					padding: 0;
					font-size: 1em;
				}

				.section-one,
				.section-two,
				.section-three {
					width: 33%;
					border-top: 1px solid #eee;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: row wrap;
					text-align: center;
				}

				.section-one h3 {
					padding: 10px 0;
				}

				.section-two {
					border-left: 1px solid #eee;
					border-right: 1px solid #eee;
				}

				.section-two h3,
				.section-three h3 {
					padding: 10px 30px;
				}

				.menu {
					list-style: none;
					padding: 0;
				}
				.menu li {
					padding: 10px 0;
					color:#77a466;
				}

				.reviews {
					color: #333;
					font-size: 1em;

				}

				.address {
					font-size: 1em;

				}

				/*The widths are in a percentage!*/
				footer {
				border-top: 3px solid #eee;
				margin: 0 auto;
				display:flex;
				justify-content: center;
				align-items: center;
				flex-flow: row wrap;

				}
				footer span {
					font-family: 'Galada', cursive;
					text-transform: lowercase;
					color: #77a466;
					font-size: 0.875em;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: row wrap;
				}
        .div-footer h4{
					display:flex;
					justify-content: center;
					align-items: center;
					flex-flow: row wrap;
}
  }
@media (min-width: 1200px) {
	body {
		font-family: 'Montserrat', Helvetica, Arial, sans-serif;
		font-size: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		text-align: center;

	}
	html {
			font-size:16px;
	}

	.container{
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		text-align: center;
	}

	h1,
	h2,
	h3 {
		color: black;
		text-transform: uppercase;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		text-align: center;
		width: 33%;
	}
	h1 {
		font-size: 1.875em;
	}
	h2 {
		font-size: 1.125em;;
	}
	h3 {
		font-size: 0.75em;
	}

	p {
		font-size: 0.875em;
		padding: 0 30px;
	}

	/*The widths are in a percentage!*/
	header {
		border-bottom: 3px solid #77a466;
		margin: 0 auto;
		display:inline;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		width: 100%;
	}

	header h1 {
		margin: 0;
		padding: 38px 0;
	}
	header h1 span {
		color: #77a466;
	}

	header nav {
		padding: 46px;

	}
	header nav ul {
		margin: 0;
		padding: 0;

	}
	header nav ul li {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.875em;
		padding: 0 10px;


	}
	header nav ul li a{
		text-decoration: none;
		color:#77a466;
		display:inline;
		justify-content: center;
		align-items:center;
		flex-flow: row wrap;


	}

	/*The widths are in a percentage!*/
	.top-section,
	.bottom-section {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		text-align: center;
	}

	.main-image {
	}
	.main-image img {
		width: 100%;
		border-bottom: 3px solid #77a466;
	}

	.main-title {

	}
	.main-title h2 {
		padding: 5px 0;
		color: #77a466;

	}
	.main-title p {
		padding: 0;
		font-size: 1em;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		border-top: 1px solid #eee;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		text-align: center;
	}

	.section-one h3 {
		padding: 10px 0;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.section-two h3,
	.section-three h3 {
		padding: 10px 30px;
	}

	.menu {
		list-style: none;
		padding: 0;
	}
	.menu li {
		padding: 10px 0;
		color:#77a466;
	}

	.reviews {
		color: #333;
		font-size: 1em;

	}

	.address {
		font-size: 1em;

	}

	/*The widths are in a percentage!*/
	footer {
	border-top: 3px solid #eee;
	margin: 0 auto;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;

	}
	footer span {
		font-family: 'Galada', cursive;
		text-transform: lowercase;
		color: #77a466;
		font-size: 0.875em;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
	}
	.div-footer h4{
		display:flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
}
}
